* {
  margin: 0;
  padding: 0;
}
header {
  width: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /*background-color: rgb(60, 128, 149);
    opacity: 0.7;*/
  border-radius: 10px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.logo img {
  width: 150px;
  border-radius: 50%;
  margin: 20px 20px;
  box-shadow: 2px 5px 5px rgb(22, 22, 22);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.menu .nav-list a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(165, 170, 172);
}

.mobile-menu {
  display: none;
  cursor: pointer;
  float: right;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 500px;
}
nav a {
  display: flex;
  margin: 10px 10px;
  font-size: 35px;
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.3s ease-in-out;
}
body {
  background-image: url(imagens/nice.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.biens {
  text-align: center;
}
.biens h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 10px;
}

.biens p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}
.imagem {
  background: url("imagens/apart02.jpg") no-repeat center center;
  background-size: cover;
  width: 90%;
  align-content: space-between;
  justify-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 10px;
}
.text-biens {
  display: block;
}
.text-biens h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 200px;
  color: #0a0a0a;
  text-shadow: 2px 3px rgb(205, 205, 205);
}
.text-biens p {
  background: #acaebbb4;
  font-size: 18px;
  text-align: justify;
  border: 2px solid black;
  padding: 8px;
  box-sizing: border-box;
  color: black;
}

.logement {
  display: flex;
}
.villas h1{
  margin: 20px ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}
.card h1{
  margin: 20px ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}
.nouveaute h1{
    margin: 20px ;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    opacity: 0.8;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
  }
  .menu .nav-list a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(10, 11, 11);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    z-index: 10000;
  }
  .logo {
    margin-right: 90px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*photos des villas*/
.villas h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.container1 {
  display: flex;
  margin-left: 10px;
}

.card {
  flex: 1;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: grayscale(1);
}
.card h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  display: none;
}

.card:hover {
  flex: 3;
  z-index: 10;
}
.card:hover h1 {
  display: block;
}
.card:hover img {
  filter: none;
}

/* Adicionando um pouco de estilo para mensagens de erro/sucesso */
.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #4caf50;
  color: #fff;
}

.error {
  background-color: #f44336;
  color: #fff;
}

/* footer*/
.main_footer {
  background-color: #00b0d9;
  color: #fff;
  font-size: 0.875em;
  margin-top: 20px;
}

.main_footer .content {
  float: left;
  width: 90%;
  margin: 0 5%;
  padding: 5em 0;
}
.container2 {
  float: left;
  width: 100%;
}

.colfooter {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 2em;
}

.colfooter ul {
  width: 100%;
  float: left;
}
.colfooter ul li {
  padding: 0.2em 0em;
}
.colfooter ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}
.colfooter ul li a i {
  font-size: 0.5em;
}
.colfooter ul li a:hover {
  text-decoration: underline;
}

.colfooter .titleFooter {
  font-family: "open_sansregular";
  font-size: 1.3em;
  color: #ffffff;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px #4ec0db solid;
}

.colfooter p {
  font-family: "open_sanslight";
  color: #ffffff;
  font-size: 1em;
  height: 25px;
}

.colfooter a {
  text-decoration: none;
  
}

.colfooter li{
  list-style: none;  
}

.botao {
  padding: 10px 12px;
  color: #fff;
  font-family: "open_sansregular";
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 7px;
}
.botao::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098ff;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.botao:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.botao {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  font-family: "open_sansregular";
  border: 1px solid #ffffff;
  border-radius: 3px;
  overflow: hidden !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
.botao:hover {
  border: 1px solid #262626;
  color: #2adee3 !important;
}
.botao::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #262626;
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.botao::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #2adee3;
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.botao:hover::before,
.botao:hover::before {
  opacity: 1;
  width: 120%;
}
.botao:hover::after,
.botao:hover::after {
  opacity: 1;
  width: 150%;
}

.main_footer_copy {
  background-color: #01a2c8;
  width: 100%;
  float: left;
  text-align: center;
  padding: 1.5em 0em;
}
.main_footer_copy p {
  font-family: "open_sanslight";
  font-size: 1em;
  color: #e1e0e0;
  height: 20px;
}
.main_footer_copy .m-b-footer {
  margin-bottom: 0.5em;
}
.main_footer_copy .by {
  font-size: 0.96em;
}
.main_footer_copy .by a {
  color: #fff;
  text-decoration: none;
}
.main_footer_copy .by a:hover {
  text-decoration: underline;
}
.main_footer_copy .by i {
  font-size: 0.96em;
  margin-right: 3px;
  color: #e82626;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width: 48em) {
  .colfooter {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .colfooter:nth-of-type(3n + 0) {
    margin-right: 0;
    border-right: 0;
  }
}

/* Estilos adicionais para tornar o footer mais atraente */
.menu-politique p {
  margin: 0;
  width: 450px;
}

.menu-politique {
  display: flex;
}
.menu-politique a {
  color: white;
  text-decoration: none;
  padding-left: 300px;
}

/* Tornar o texto do rodapé centralizado em telas menores */
@media screen and (max-width: 600px) {
  html {
    max-width: fit-content;
  }
  .cabecalho{
    padding-left: 20px;
  }
  .logo img{
    width: 30%; 
  }
  nav a {
    font-size: 20px;
  }
  .biens h1{
    font-size: 30px;
  }
  .biens p{
    font-size: 15px;
  }
  .villas h1 {
    font-size: 30px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  .container h1 {
    font-size: 30px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  .container label {
    font-size: 18px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  .imagem {
    margin-left: 10px;
  }
  .cookies-msg{
    display:none;
  }
}
/*page politique conf*/
.page-politique {
  width: 95%;
  background-color: #acaebb;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.page-politique h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-top: 30px;
}
.page-politique h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
.page-politique h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
.page-politique h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
.page-politique p {
  text-align: justify;
  justify-content: center;
  align-items: center;
  
  padding: 0 20px ;
  
}
/*page bien à louer*/
.immob {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* On affiche autant que possible en fonction de la largeur*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.villes{
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: space-around ;
}
.villes h1{
  font-size: 30px;
  background: #4a4848c1;
  color: white;
  border-radius: 5px;
}
.villes  a{
  text-decoration: none;
}
.ville a{
  text-decoration: none;
}

.ville{
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: space-around ;
}
.ville h1{
  font-size: 30px;
  background: #4a4848c1;
  color: white;
  border-radius: 5px;
}
/*page contact*/
.formulario {
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 30px;
}
.formulario h1 {
  color: white;
  font-size: 30px;
}

.formulario label {
  color: white;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}

/*cookies*/
.cookies-msg{
  width: 80%;
  background-color: #fff;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 15px;
  border: 3px solid #121111;
  display:none;
}
.cookies-msg.mostrar{
  display: block;
}
.cookies-txt{
  color: black;
  text-align: justify;
  font-size: 18px;
  padding: 20px;
}
.cookies-msg .cookies-btn{
  margin-left: 30px;
}
.cookies-msg .cookies-btn button{
  background-color: #050505;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 3px 3px 5px rgb(9, 36, 171);
  cursor: pointer;
  transition: .2s;
}

.cookies-msg .cookies-btn button:hover{
  transform: scale(0.9);
}
.cookies-img{
  padding: 5px;
  display: flex;

}
.cookies-img h6{
  color: #050505;
  padding-left: 10px;
  font-size: 18px;
  padding-bottom: 5px;
}